@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.titleline {
    position: relative;
    z-index: -1;
    top: -1.2rem;
 }


.title_bg {
    position: relative;
    z-index: 2;
}

 .titleline_black {
    position: relative;
    z-index: 1;
    top: -1.2rem;
 }

/* Carouselle */

.carrousel {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(87, 87, 87, 0.8)), url(../img/buns.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.psa { 
    font-size: small;
}
